
.body{
    margin: 0;
}

.gridWrapper{
    height: 100vh;
    background-color: beige;
    position: relative;
}

.ContenedorMenu{
    background-color: aquamarine;
    height: 100vh;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
}

.pageWrapper{
    margin-left: 500px;

}

.toolbarContainer{
    height: 60px;
    background-color: red;
}